@font-face {
    font-family: "Fira Sans";
    src: url("../../font/FiraSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Fira Sans";
    src: url("../../font/FiraSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Fira Sans";
    src: url("../../font/FiraSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Fira Sans";
    src: url("../../font/FiraSans-Bold.ttf") format("truetype");
    font-style: bold;
    font-weight: 700;
    font-display: swap;
}